/* 
    Created on : 04-06-2014, 08:22:50 PM
    Author     : PabloAntonio
*/
*#pie{
    width: 100%;
    border: 0;
    alignment-adjust: baseline;
}

logo{
    text-align: center;
    display: block;
    alignment-adjust: text-before-edge;
    alignment-baseline: central;
}

.white_content {
    display: hide;
    position: absolute;
    top: 10%;
    left: 70%;
    width: 400px;
    height: 400px;
    padding: 5px;
    z-index:1002;
    overflow: auto;						
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
}	
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }    
}

.pcenter{
    alignment-adjust: central;    
    }

#td0{
    color: #C91515;
}

#td1{
    color: #008A00;
}

#td2{
    color: #094AB2;
}