*.php
*.html
*.js
*.css
*.png
*.gif
*.ico
*.jpg
!/administracion/menu_superior.php
!/administracion/noticias_lista.php
!/administracion/noticia_crear_procesar.php
!/administracion/noticia_editar_procesar.php
!/administracion/noticia_editar.php
!/administracion/noticia_crear.php
!/administracion/noticia_eliminar.php
!/administracion/estado_conectado_crear_procesar.php
!/administracion/estado_conectado_lista.php
!/administracion/estado_conectado_editar.php
!/administracion/estado_cliente_crear_procesar.php
!/administracion/estado_conectado_crear.php
!/administracion/estado_cliente_eliminar.php
!/administracion/estado_cliente_lista.php
!/administracion/finales_encaliente.php
!/administracion/estado_cliente_editar.php
!/administracion/estado_conectado_editar_procesar.php
!/administracion/estado_cliente_crear.php
!/administracion/estados.php
!/administracion/estado_conectado_eliminar.php
!/administracion/estado_cliente_editar_procesar.php
!/administracion/campania.php
!/administracion/reporte_usuarios.php
!/administracion/useronline.php
!/administracion/reporte_estados.php
!/administracion/salir.php