*.php
*.html
*.js
*.css
*.png
*.gif
*.ico
*.jpg
!/administracion/menu_superior.php
!/administracion/noticias_lista.php
!/administracion/noticia_crear_procesar.php
!/administracion/noticia_editar_procesar.php
!/administracion/noticia_editar.php
!/administracion/noticia_crear.php
!/administracion/noticia_eliminar.php
!/administracion/estado_conectado_crear_procesar.php
!/administracion/estado_conectado_lista.php
!/administracion/estado_conectado_editar.php
!/administracion/estado_cliente_crear_procesar.php
!/administracion/estado_conectado_crear.php
!/administracion/estado_cliente_eliminar.php
!/administracion/estado_cliente_lista.php
!/administracion/finales_encaliente.php
!/administracion/estado_cliente_editar.php
!/administracion/estado_conectado_editar_procesar.php
!/administracion/estado_cliente_crear.php
!/administracion/estados.php
!/administracion/estado_conectado_eliminar.php
!/administracion/estado_cliente_editar_procesar.php
!/administracion/campania.php
!/administracion/reporte_usuarios.php
!/administracion/useronline.php
!/administracion/reporte_estados.php
!/administracion/salir.php
!/administracion/importar.php
!/administracion/importar_datos.php
!/administracion/importar_datos_procecesar.php
!/administracion/rep_gestion_campania_form.php
!/administracion/Classes/PHPExcel.php
!/administracion/Classes/PHPExcel/ReferenceHelper.php
!/administracion/Classes/PHPExcel/WorksheetIterator.php
!/administracion/Classes/PHPExcel/Worksheet.php
!/administracion/Classes/PHPExcel/IOFactory.php
!/administracion/Classes/PHPExcel/IComparable.php
!/administracion/Classes/PHPExcel/Exception.php
!/administracion/Classes/PHPExcel/Chart.php
!/administracion/Classes/PHPExcel/Style.php
!/administracion/Classes/PHPExcel/DocumentSecurity.php
!/administracion/Classes/PHPExcel/CachedObjectStorageFactory.php
!/administracion/Classes/PHPExcel/DocumentProperties.php
!/administracion/Classes/PHPExcel/Comment.php
!/administracion/Classes/PHPExcel/NamedRange.php
!/administracion/Classes/PHPExcel/RichText.php
!/administracion/Classes/PHPExcel/Cell.php
!/administracion/Classes/PHPExcel/Calculation.php
!/administracion/Classes/PHPExcel/HashTable.php
!/administracion/Classes/PHPExcel/Autoloader.php
!/administracion/Classes/PHPExcel/Settings.php
!/administracion/Classes/PHPExcel/Writer/HTML.php
!/administracion/Classes/PHPExcel/Writer/CSV.php
!/administracion/Classes/PHPExcel/Writer/Excel2007.php
!/administracion/Classes/PHPExcel/Writer/PDF.php
!/administracion/Classes/PHPExcel/Writer/Abstract.php
!/administracion/Classes/PHPExcel/Writer/Exception.php
!/administracion/Classes/PHPExcel/Writer/Excel5.php
!/administracion/Classes/PHPExcel/Writer/IWriter.php
!/administracion/Classes/PHPExcel/Writer/PDF/tcPDF.php
!/administracion/Classes/PHPExcel/Writer/PDF/mPDF.php
!/administracion/Classes/PHPExcel/Writer/PDF/DomPDF.php
!/administracion/Classes/PHPExcel/Writer/PDF/Core.php
!/administracion/Classes/PHPExcel/Writer/Excel5/Escher.php
!/administracion/Classes/PHPExcel/Writer/Excel5/Parser.php
!/administracion/Classes/PHPExcel/Writer/Excel5/Xf.php
!/administracion/Classes/PHPExcel/Writer/Excel5/Workbook.php
!/administracion/Classes/PHPExcel/Writer/Excel5/Font.php
!/administracion/Classes/PHPExcel/Writer/Excel5/Worksheet.php
!/administracion/Classes/PHPExcel/Writer/Excel5/BIFFwriter.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/StringTable.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/Style.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/Workbook.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/RelsRibbon.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/ContentTypes.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/Rels.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/Theme.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/WriterPart.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/RelsVBA.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/DocProps.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/Worksheet.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/Drawing.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/Comments.php
!/administracion/Classes/PHPExcel/Writer/Excel2007/Chart.php
!/administracion/Classes/PHPExcel/Worksheet/AutoFilter.php
!/administracion/Classes/PHPExcel/Worksheet/Protection.php
!/administracion/Classes/PHPExcel/Worksheet/HeaderFooter.php
!/administracion/Classes/PHPExcel/Worksheet/Row.php
!/administracion/Classes/PHPExcel/Worksheet/MemoryDrawing.php
!/administracion/Classes/PHPExcel/Worksheet/PageSetup.php
!/administracion/Classes/PHPExcel/Worksheet/PageMargins.php
!/administracion/Classes/PHPExcel/Worksheet/Drawing.php
!/administracion/Classes/PHPExcel/Worksheet/BaseDrawing.php
!/administracion/Classes/PHPExcel/Worksheet/HeaderFooterDrawing.php
!/administracion/Classes/PHPExcel/Worksheet/RowDimension.php
!/administracion/Classes/PHPExcel/Worksheet/SheetView.php
!/administracion/Classes/PHPExcel/Worksheet/CellIterator.php
!/administracion/Classes/PHPExcel/Worksheet/RowIterator.php
!/administracion/Classes/PHPExcel/Worksheet/ColumnDimension.php
!/administracion/Classes/PHPExcel/Worksheet/Drawing/Shadow.php
!/administracion/Classes/PHPExcel/Worksheet/AutoFilter/Column.php
!/administracion/Classes/PHPExcel/Worksheet/AutoFilter/Column/Rule.php
!/administracion/Classes/PHPExcel/Style/Conditional.php
!/administracion/Classes/PHPExcel/Style/Font.php
!/administracion/Classes/PHPExcel/Style/NumberFormat.php
!/administracion/Classes/PHPExcel/Style/Color.php
!/administracion/Classes/PHPExcel/Style/Supervisor.php
!/administracion/Classes/PHPExcel/Style/Fill.php
!/administracion/Classes/PHPExcel/Style/Alignment.php
!/administracion/Classes/PHPExcel/Style/Border.php
!/administracion/Classes/PHPExcel/Style/Protection.php
!/administracion/Classes/PHPExcel/Style/Borders.php
!/administracion/Classes/PHPExcel/Shared/ZipArchive.php
!/administracion/Classes/PHPExcel/Shared/Date.php
!/administracion/Classes/PHPExcel/Shared/File.php
!/administracion/Classes/PHPExcel/Shared/Escher.php
!/administracion/Classes/PHPExcel/Shared/Drawing.php
!/administracion/Classes/PHPExcel/Shared/TimeZone.php
!/administracion/Classes/PHPExcel/Shared/Excel5.php
!/administracion/Classes/PHPExcel/Shared/String.php
!/administracion/Classes/PHPExcel/Shared/PasswordHasher.php
!/administracion/Classes/PHPExcel/Shared/XMLWriter.php
!/administracion/Classes/PHPExcel/Shared/Font.php
!/administracion/Classes/PHPExcel/Shared/ZipStreamWrapper.php
!/administracion/Classes/PHPExcel/Shared/OLE.php
!/administracion/Classes/PHPExcel/Shared/OLERead.php
!/administracion/Classes/PHPExcel/Shared/CodePage.php
!/administracion/Classes/PHPExcel/Shared/trend/polynomialBestFitClass.php
!/administracion/Classes/PHPExcel/Shared/trend/trendClass.php
!/administracion/Classes/PHPExcel/Shared/trend/powerBestFitClass.php
!/administracion/Classes/PHPExcel/Shared/trend/logarithmicBestFitClass.php
!/administracion/Classes/PHPExcel/Shared/trend/bestFitClass.php
!/administracion/Classes/PHPExcel/Shared/trend/exponentialBestFitClass.php
!/administracion/Classes/PHPExcel/Shared/trend/linearBestFitClass.php
!/administracion/Classes/PHPExcel/Shared/PCLZip/pclzip.lib.php
!/administracion/Classes/PHPExcel/Shared/OLE/PPS.php
!/administracion/Classes/PHPExcel/Shared/OLE/ChainedBlockStream.php
!/administracion/Classes/PHPExcel/Shared/OLE/PPS/File.php
!/administracion/Classes/PHPExcel/Shared/OLE/PPS/Root.php
!/administracion/Classes/PHPExcel/Shared/JAMA/EigenvalueDecomposition.php
!/administracion/Classes/PHPExcel/Shared/JAMA/LUDecomposition.php
!/administracion/Classes/PHPExcel/Shared/JAMA/SingularValueDecomposition.php
!/administracion/Classes/PHPExcel/Shared/JAMA/CholeskyDecomposition.php
!/administracion/Classes/PHPExcel/Shared/JAMA/QRDecomposition.php
!/administracion/Classes/PHPExcel/Shared/JAMA/Matrix.php
!/administracion/Classes/PHPExcel/Shared/JAMA/utils/Error.php
!/administracion/Classes/PHPExcel/Shared/JAMA/utils/Maths.php
!/administracion/Classes/PHPExcel/Shared/Escher/DggContainer.php
!/administracion/Classes/PHPExcel/Shared/Escher/DgContainer.php
!/administracion/Classes/PHPExcel/Shared/Escher/DggContainer/BstoreContainer.php
!/administracion/Classes/PHPExcel/Shared/Escher/DggContainer/BstoreContainer/BSE.php
!/administracion/Classes/PHPExcel/Shared/Escher/DggContainer/BstoreContainer/BSE/Blip.php
!/administracion/Classes/PHPExcel/Shared/Escher/DgContainer/SpgrContainer.php
!/administracion/Classes/PHPExcel/Shared/Escher/DgContainer/SpgrContainer/SpContainer.php
!/administracion/Classes/PHPExcel/RichText/ITextElement.php
!/administracion/Classes/PHPExcel/RichText/Run.php
!/administracion/Classes/PHPExcel/RichText/TextElement.php
!/administracion/Classes/PHPExcel/Reader/IReader.php
!/administracion/Classes/PHPExcel/Reader/OOCalc.php
!/administracion/Classes/PHPExcel/Reader/IReadFilter.php
!/administracion/Classes/PHPExcel/Reader/Exception.php
!/administracion/Classes/PHPExcel/Reader/CSV.php
!/administracion/Classes/PHPExcel/Reader/Excel2007.php
!/administracion/Classes/PHPExcel/Reader/Excel2003XML.php
!/administracion/Classes/PHPExcel/Reader/Excel5.php
!/administracion/Classes/PHPExcel/Reader/DefaultReadFilter.php
!/administracion/Classes/PHPExcel/Reader/SYLK.php
!/administracion/Classes/PHPExcel/Reader/Abstract.php
!/administracion/Classes/PHPExcel/Reader/HTML.php
!/administracion/Classes/PHPExcel/Reader/Gnumeric.php
!/administracion/Classes/PHPExcel/Reader/Excel5/RC4.php
!/administracion/Classes/PHPExcel/Reader/Excel5/MD5.php
!/administracion/Classes/PHPExcel/Reader/Excel5/Escher.php
!/administracion/Classes/PHPExcel/Reader/Excel2007/Chart.php
!/administracion/Classes/PHPExcel/Reader/Excel2007/Theme.php
!/administracion/Classes/PHPExcel/Chart/Title.php
!/administracion/Classes/PHPExcel/Chart/Layout.php
!/administracion/Classes/PHPExcel/Chart/DataSeriesValues.php
!/administracion/Classes/PHPExcel/Chart/Legend.php
!/administracion/Classes/PHPExcel/Chart/Exception.php
!/administracion/Classes/PHPExcel/Chart/PlotArea.php
!/administracion/Classes/PHPExcel/Chart/DataSeries.php
!/administracion/Classes/PHPExcel/Chart/Renderer/jpgraph.php
!/administracion/Classes/PHPExcel/Cell/DataValidation.php
!/administracion/Classes/PHPExcel/Cell/Hyperlink.php
!/administracion/Classes/PHPExcel/Cell/AdvancedValueBinder.php
!/administracion/Classes/PHPExcel/Cell/IValueBinder.php
!/administracion/Classes/PHPExcel/Cell/DefaultValueBinder.php
!/administracion/Classes/PHPExcel/Cell/DataType.php
!/administracion/Classes/PHPExcel/Calculation/ExceptionHandler.php
!/administracion/Classes/PHPExcel/Calculation/LookupRef.php
!/administracion/Classes/PHPExcel/Calculation/Statistical.php
!/administracion/Classes/PHPExcel/Calculation/Engineering.php
!/administracion/Classes/PHPExcel/Calculation/Database.php
!/administracion/Classes/PHPExcel/Calculation/MathTrig.php
!/administracion/Classes/PHPExcel/Calculation/Exception.php
!/administracion/Classes/PHPExcel/Calculation/Functions.php
!/administracion/Classes/PHPExcel/Calculation/FormulaParser.php
!/administracion/Classes/PHPExcel/Calculation/Function.php
!/administracion/Classes/PHPExcel/Calculation/TextData.php
!/administracion/Classes/PHPExcel/Calculation/FormulaToken.php
!/administracion/Classes/PHPExcel/Calculation/DateTime.php
!/administracion/Classes/PHPExcel/Calculation/Logical.php
!/administracion/Classes/PHPExcel/Calculation/Financial.php
!/administracion/Classes/PHPExcel/Calculation/Token/Stack.php
!/administracion/Classes/PHPExcel/CalcEngine/CyclicReferenceStack.php
!/administracion/Classes/PHPExcel/CalcEngine/Logger.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/Memcache.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/MemoryGZip.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/ICache.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/PHPTemp.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/DiscISAM.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/MemorySerialized.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/Wincache.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/Igbinary.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/Memory.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/SQLite.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/SQLite3.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/CacheBase.php
!/administracion/Classes/PHPExcel/CachedObjectStorage/APC.php