/*
Este software es propiedad de DUQCISA y fue desarrollado por Pablo Hurtado
*/
/* 
    Created on : 06-13-2014, 04:04:09 PM
    Author     : PabloAntonio
*/

body {
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}